body {
    background-color: rgba(231, 231, 231, 0.603);
    font-family: 'Comfortaa', cursive;
}

.movie-container img {
    height: 100%;
    width: 100%;
    display: block;

}

.movie-container .image-container {
    height: 20rem;
}

.movie-container {
    /* margin: 20px 20px 20px 20px; */
    padding: 7px;
    background-color: rgba(241, 241, 241, 0.884);
    /* width: 17rem; */
}

.movie-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
   /*  bottom: 0;
    left: 0; */
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
}

.slider-image-container {
    position: relative;
}

.slider-image-container:hover .movie-overlay {
    display: flex;
    flex-direction: column;
}

.searchbox-explore {
    padding-top: 5rem;
}

.yyy {
    background-color: black;
}

.explore-area h1{
    color: white;
    margin-left: 30px;
    font-size: 25px;
}

.movie-buttons .watched-btn {
    /* margin: 0px 10px 0px 10px; */
    background-color: rgba(252, 253, 251, 0.623); /* Blue background */
  border: none; /* Remove borders */
  color: black; /* White text */
  font-size: 18px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  border-radius: 80%;
  padding: 12px 16px; /* Some padding */
}

.watched-btn:hover {
    background-color: RoyalBlue;
}

.movie-buttons .towatch-btn {
    margin: 0px 10px 10px 10px;
    background-color: rgba(252, 253, 251, 0.623); /* Blue background */
  border: none; /* Remove borders */
  color: black; /* White text */
  font-size: 18px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  border-radius: 80%;
  padding: 12px 16px; /* Some padding */
}

.towatch-btn:hover {
    background-color: rgb(53, 180, 14);
}

.movie-buttons .fav-btn {
    /* margin: 0px 10px 0px 10px; */
    background-color: rgba(252, 253, 251, 0.623); /* Blue background */
  border: none; /* Remove borders */
  color: black; /* White text */
  font-size: 18px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  border-radius: 80%;
  padding: 12px 16px; /* Some padding */
  margin-bottom: 20px;
}
.fav-btn:hover {
    background-color: rgb(221, 8, 150)!important;
}

.movie-buttons .rate-btn {
    /* margin: 0px 10px 0px 10px; */
    background-color: rgba(252, 253, 251, 0.623); /* Blue background */
  border: none; /* Remove borders */
  color: black; /* White text */
  font-size: 18px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  border-radius: 80%;
  padding: 12px 16px; /* Some padding */

}
.rate-btn:hover {
    background-color: rgb(221, 182, 8);
}

.swiper-button-next, .swiper-button-prev {
    color: white!important;
}

.swiper {
    padding-left: 50px!important;
    padding-right: 50px!important;
}

.user-buttons {
    display: flex;
    margin: 10px 0 10px 0;
}

.slider-details-button {
    display: flex;
}