body {
    background-color: rgba(128, 128, 128, 0.603);
    font-family: 'Comfortaa', cursive;
}

img {
    height: 20rem;
}

.movie-container {
    margin: 20px 20px 20px 20px;
    padding: 10px 10px 10px 10px;
    background-color: rgb(241, 241, 241);
    width: 17rem;
    
    
}

.explore-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.watched-btn {
    
    margin: 0px 10px 0px 10px;
    background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  font-size: 20px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  border-radius: 100px;
  padding: 12px 16px; /* Some padding */

}

.watched-btn:hover {
    background-color: RoyalBlue;
}

.towatch-btn {

  
    margin: 0px 10px 0px 10px;
    background-color: rgb(50, 214, 0); /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  font-size: 20px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  border-radius: 100px;
  padding: 12px 16px; /* Some padding */

}

.towatch-btn:hover {
    background-color: rgb(53, 180, 14);
}

.fav-btn {

  
    margin: 0px 10px 0px 10px;
    background-color: rgb(255, 212, 23); /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  font-size: 20px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  border-radius: 100px;
  padding: 12px 16px; /* Some padding */

}
.fav-btn:hover {
    background-color: rgb(221, 182, 8);
}