button {
  align-items: center;
  appearance: none;
  background: transparent;
  border-radius: 30px;
 border-color: #8b8b8b;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #dadada;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: 'Comfortaa', cursive;
  font-size: 14px;
  font-weight: bold;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

button:hover {
  background: #F6F9FE;
  color: #174ea6;
  font-weight: bolder;
}

button:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

button:focus {
  outline: none;
  border: 2px solid #4285f4;
}

button:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

button:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

button:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

button:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

button:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.UserProperties {
    display: flex;
    justify-content: space-between;
    margin: 7rem 10rem 0rem 10rem;
}

input {
    background-color: #fff;
    color: rgb(0, 0, 0);
    
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
}

input[type=text] {
    transition: width 0.4s ease-in-out;
  }
  
input[type=text]:focus {
    width: 100%;
  }

.movie-container-userpage {
    width: 200px;
	margin: 0px 10px 10px 10px;
    
    background-color: rgba(0, 0, 0, 0.884);
}

.movie-container-userpage img {
    
        width: 185px;
        height: auto;
        display: block;
        border-radius: 12px;
    
    
}

.movies-container-userpage {
    margin: 45px;
  display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 45px
  /*padding: 20px;*/
}

.user-review-button {
  display: flex!important;
  justify-content: center!important;
}

.user-review-button button {
  margin-top: 6px!important;
  background-color: rgba(133, 132, 132, 0.74)!important;
  color: black!important;
}

.user-review-button button:hover {
  background-color: rgba(110, 110, 110, 0.836)!important;
}